.logo-landing {
  max-width: 156px;
}
@media screen and (max-width: 500px) {
  .logo-landing {
    max-width: 100px;
  }
}
.pagination .page-link {
  font-size: 1.5rem;
}

.project-filter li:hover a,
.project-filter li.current a {
  color: white;
  background: var(--primary-color);
}

.text-riset {
  color: #3d81c3 !important;
}
.border-riset {
  border-color: #3d81c3 !important;
}
.bg-riset {
  background: #3d81c3 !important;
}
.text-seni {
  color: #0eaa4b !important;
}
.border-seni {
  border-color: #0eaa4b !important;
}
.bg-seni {
  background: #0eaa4b !important;
}
.text-or {
  color: #ff4133 !important;
}
.border-or {
  border-color: #ff4133 !important;
}
.bg-or {
  background: #ff4133 !important;
}

.carousel-content {
  height: 561px;
  background: #fff;
  display: flex;
}
.carousel-content img {
  width: 50% !important;
  height: 100% !important;
  object-fit: cover;
}
.carousel-content .cc-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 36px;
}
.text-primary {
  color: var(--primary-color) !important;
}
