/* Banner Section */
.banner {
  background: url("assets/landing/images/background/banner_website.jpeg")
    no-repeat center center / cover;
  padding: 50px 0; /* Adjust padding as needed */
  text-align: center;
  position: relative;
  width: 100vw; /* Full viewport width */
  height: 70vh; /* Full viewport height */
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Align content to the bottom */
}

.banner h2 {
  margin: 0; /* Ensure proper spacing */
  font-size: 2.5rem;
  margin-top: -300px; /* Adjust font size as needed */
}

/* Talent Card Styles */
.talent-card {
  background: #fff;
  border-radius: 8px;
  margin-top: -200px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 400px; /* Fixed height */
  transition: background-color 0.3s ease;
  overflow: hidden;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.talent-card .icon {
  font-size: 2rem;
  margin-bottom: 15px;
}

.talent-card h5 {
  margin: 15px 0;
  font-size: 1.25rem;
}

.talent-card p {
  margin-bottom: 15px;
  font-size: 1rem;
  flex: 1;
}

.talent-card h6 {
  font-size: 1rem;
  color: #4575b8;
}

/* Responsive Design Adjustments */
.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.card-container .talent-card {
  flex: 1 1 calc(33.333% - 1rem); /* 3 cards per row */
  max-width: calc(33.333% - 1rem); /* Adjusts for the gap */
}

.dashboard-section {
  position: relative;
  z-index: 2; /* Adjust padding as needed */
  align-items: center;
  justify-content: center;
}

.dashboard-section-rotator {
  position: relative;
  z-index: 2; /* Adjust padding as needed */
  align-items: center;
  justify-content: center;
  margin-left: 70px;
  margin-right: 70px;
}

.banner-rotator {
  background: url("assets/landing/images/background/spacers_200px.svg")
    no-repeat center center;
  background-size: cover; /* Ensure the background covers the whole section */
  width: 100wv;
  height: 150px;
  display: flex;
  position: relative;
}

.banner-rotator p {
  font-size: 1.2rem;
  padding: 10px;
}

.relative {
  position: relative;
  width: 100%;
  height: 100%;
}

.text-white {
  color: white;
}

.text-center {
  text-align: center;
}

.secondaryIframe {
  pointer-events: none;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

@media (max-width: 768px) {
  .banner {
    background: url("assets/landing/images/background/banner_website.jpeg")
      no-repeat center center / cover;
    padding: 50px 0; /* Adjust padding as needed */
    text-align: center;
    position: relative;
    width: 100vw; /* Full viewport width */
    height: 24vh; /* Full viewport height */
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Align content to the bottom */
  }

  .dashboard-section p {
    font-size: 20px;
    line-height: 2;
  }
  .card-container .talent-card {
    flex: 1 1 100%; /* 1 card per row */
    max-width: 100%;
  }

  .banner {
    padding: 20px 0; /* Further adjust padding */
  }

  .banner h2 {
    margin-top: -100px;
    font-size: 1.25rem; /* Further adjust heading size */
  }

  .talent-card {
    background: #fff;
    border-radius: 8px;
    margin-top: 20px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 350px; /* Fixed height */
    transition: background-color 0.3s ease;
    overflow: hidden;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .icon {
    font-size: 1.25rem;
  }

  .talent-card h5 {
    font-size: 1rem;
  }

  .talent-card p {
    font-size: 0.75rem;
  }

  .talent-card h6 {
    font-size: 0.875rem;
  }

  .banner-rotator {
    background: url("assets/landing/images/background/spacers_200px.svg")
      no-repeat center center;
    background-size: cover; /* Ensure the background covers the whole section */
    /* width: 100wv; */
    height: 120px;
    display: flex;
    position: relative;
  }

  .banner-rotator p {
    font-size: 0.8rem;
    padding: 10px;
    line-height: 1.6;
  }

  .relative {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .text-white {
    color: white;
  }

  .text-center {
    text-align: center;
  }
}

@media (max-width: 576px) {
  .banner {
    background: url("assets/landing/images/background/banner_website.jpeg")
      no-repeat center center / cover;
    padding: 50px 0; /* Adjust padding as needed */
    text-align: center;
    position: relative;
    width: 100vw; /* Full viewport width */
    height: 24vh; /* Full viewport height */
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Align content to the bottom */
  }

  .dashboard-section p {
    font-size: 25px;
    line-height: 2;
  }
  .card-container .talent-card {
    flex: 1 1 100%; /* 1 card per row */
    max-width: 100%;
  }

  .banner {
    padding: 20px 0; /* Further adjust padding */
  }

  .banner h2 {
    margin-top: -100px;
    font-size: 1.25rem; /* Further adjust heading size */
  }

  .talent-card {
    background: #fff;
    border-radius: 8px;
    margin-top: 20px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 350px; /* Fixed height */
    transition: background-color 0.3s ease;
    overflow: hidden;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .icon {
    font-size: 1.25rem;
  }

  .talent-card h5 {
    font-size: 1rem;
  }

  .talent-card p {
    font-size: 0.75rem;
  }

  .talent-card h6 {
    font-size: 0.875rem;
  }

  .dashboard-section-rotator {
    position: relative;
    z-index: 2; /* Adjust padding as needed */
    align-items: center;
    justify-content: center;
  }

  .banner-rotator {
    background: url("assets/landing/images/background/spacers_200px.svg")
      no-repeat center center;
    background-size: cover; /* Ensure the background covers the whole section */
    width: 100wv; /* Full viewport width */
    height: 120px;
    display: flex;
    position: relative;
  }

  .banner-rotator p {
    font-size: 0.8rem;
    padding: 10px;
    line-height: 1.5;
  }
  .relative {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .text-white {
    color: white;
  }

  .text-center {
    text-align: center;
  }
}

.tahapan-card {
  margin-top: 10px;
  text-align: center;
  padding: 20px;
  height: 200px;
  border-radius: 10px;
  justify-content: space-between;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.icon-tahapan {
  display: inline-block;
  font-size: 50px;
  background-color: white; /* Warna background */
  border-radius: 50%;
  margin-bottom: 15px;
}

.icon-tahapan .img {
  height: 80px;
  border-radius: 50%;
}

.sorotan-card {
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 10px;
  text-align: center;
  padding: 20px;
  height: 350px;
  border-radius: 10px;
  justify-content: space-between;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.icon-sorotan {
  display: inline-block;
  font-size: 50px;
  background-color: white; /* Warna background */
  border-radius: 50%;
  margin-top: 30px;
  margin-bottom: 10px;
}

.icon-sorotan .img {
  height: 120px;
  width: 120px;
  border-radius: 100%;
}

.beasiswa-card {
  margin-top: 10px;
  text-align: center;
  padding: 20px;
  height: 400px;
  border-radius: 10px;
  justify-content: space-between;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.icon-beasiswa {
  display: inline-block;
  font-size: 50px;
  background-color: white; /* Warna background */
  border-radius: 50%;
  margin-bottom: 15px;
}

.icon-beasiswa .img {
  height: 80px;
  border-radius: 50%;
}
